/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1{
        color:brown;
        font-size: 20px;
    }
    .box{
        background: brown;
    }
    .display-1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
    .display-2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
    .display-3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
    .display-4 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}
    .blockquote {
    margin-bottom: 1rem;
    font-size: 1rem;
}
    a {
    color: #0062cc42;
    text-decoration: none;
    background-color: transparent;
}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        color: darkgoldenrod;
        font-size: 25px;
    }
    .box{
        background-color: darkgoldenrod;
    }
}

 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
     h1{
        color:cyan;
        font-size: 45px;
    }
    .box{
        background-color: cyan;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    h1{
        color: darkblue;
        font-size: 45px;
    }
    .box{
        background-color: darkblue;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { 
}*/
@media (min-width: 1200px) and (max-width: 1599.98px) { 
    .box{
        background-color: indigo;
    }
    
    
}
@media (min-width: 1600px) and (max-width: 1999.98px) { 
    
    
}
@media (min-width: 2000px) and (max-width: 2399.98px) { 
    
    
}
@media (min-width: 2560px){
    h1{
        color: darkviolet;
    }
    .box{
        background-color: lawngreen;
    }
}