<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="../css/bootstrap.css">
   <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/media.css">

    <title>bootstrap-component</title>
  </head>
  <body>
   <div class="container">
       <div class="row">
           <div class="col">
              <h1 class="text-center">alert property </h1>
               <div class="alert alert-warning">
                   here use <strong class="bg-info">alert</strong> property
               </div>
           </div>
       </div>
   </div>
    <div class="container">
        <div class="row">
            <div class="col">
   <div class="alert alert-primary alert-dismissible fade show" role="alert">
    Here use a <strong>alert property</strong>  and for color <strong>alert-primary</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="close">
    <span aria-hidden="true">&times;</span></button>
   </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
  <div class="alert alert-dark">
      background color <a href="https://getbootstrap.com/docs/4.4/components/alerts/" class="alert-link ">alert-dark</a>  use kra hoice
  </div>
            </div>
        </div>
    </div>
    <hr>
<!--    badge start her-->
     <div class="container">
         <div class="row text-center">
             <div class="col">
                 <h1>bage example </h1>
                 <h1>badge example <span class="badge badge-primary">badge</span></h1>
                 <h2>badge example2 <span class="badge badge-info">badge2</span></h2>
                 <h3>badge example 3 <span class="badge badge-danger">badge</span></h3>
                 <hr>
                 <h1>badge button example</h1>
                 <button type="button" class="btn btn-info">
                     Message <span class="badge badge-light">15</span>
                       <span class="sr-only">unread messages</span>
                 </button>
                    <button type="button" class="btn btn-warning">
                     Notifications <span class="badge badge-danger">4</span>
                    </button>
                    <button type="button" class="btn btn-danger">
                        Friend Request <span class="badge badge-info"> 89</span>
                    </button>
                    <hr>
                    <h1>pill badge button here use of badge-pill  class</h1>
                 <span class="badge badge-pill badge-primary my-3">Primary</span>
                 <h1>
                     link on badge button 
                 </h1>
                 <a href="#" class="badge badge-primary">link badge</a>
                 <button type="button" class="btn btn-primary my-3">
                     linked button <a href="#" class="badge"></a>
                 </button>
             </div>
         </div>
     </div>
<!-- badge end here-->
 
 
<!-- breadcrumb start here-->
<div class="container">
    <div class="row">
        <div class="col">
          <h1>breadcrumb Property</h1>
          <hr>
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                  <li class="breadcrum-item active" aria-current="page">Home</li>
              </ol>
          </nav>
        
        <div class="col">
          <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
            </nav></div>
             <div class="col">
    <nav aria-label="breadcrumb">
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="#">home</a></li>
           <li class="breadcrumb-item"><a href="#">library</a></li>
           <li class="breadcrumb-item active" aria-current="page">data</li>
       </ol>
        
    </nav></div>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h1>button group</h1>
            <hr>
            <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-info">Home</button>
            <button type="button" class="btn btn-success">Blog</button>
            <button type="button" class="btn btn-warning">About</button>
        </div></div>
    </div>
</div>
 
<!-- breadcrumb end here-->
<!-- button start here-->
<div class="container">
    <div class="row mb-4 text-center">
        <div class="col">
            <h1>Basic Button</h1>
            <hr>
            <button type="button" class="btn btn-primary">button1</button>
            <button type="button" class="btn btn-danger">button2</button>
            <button type="button" class="btn btn-warning">button3</button>
            <button type="button" class="btn btn-success">button1</button>
            <button type="button" class="btn btn-info">button1</button>
            <button type="button" class="btn btn-secondary">button1</button>
            
        </div>
</div>
<div class="container">
    <div class="row">
        <div class="col mb-4">
           <h1>button tags</h1>
            <a href="#" class="btn btn-info" role="button">button1</a>
            <button class="btn btn-danger" type="submit" value="input">button submit</button>
            <button class="btn btn-warning" type="reset" value="reset">button reset</button>
            <button class="btn btn-success"type="button" value="input">button input</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col mb-3">
           <h1>outline button</h1>
           <button class="btn btn-outline-warning">outline button</button>
           <button class="btn btn-outline-danger">outline button</button>
           <button class="btn btn-outline-success">outline button</button>
            
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Button Size</h1>
            <button class="btn btn-primary btn-lg">large button</button>
            <button class="btn btn-info btn-md">medium button</button>
            <button class="btn btn-dark btn-sm"> small button</button><hr>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col mb-3">
            <h1>block level button</h1>
            <button class="btn btn-dark btn-lg btn-block">block level button large</button>
            <button class="btn btn-info btn-md btn-block">block level medium button</button>
            <button class="btn btn-warning btn-sm btn-block">block level small button</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
           <h1>Checkbox button and radio button</h1>
            <div class="btn-group btn-group-dispose" data-toggle="dispose">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" checked> active button
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> button2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> button3
  </label>
</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4">
         
          
           
<div class="btn-group btn-group-toggle" data-toggle="toggle">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" checked> active button
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2"> button2
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option3"> button3
  </label>
</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group-dispose" data-toggle="dispose">
  <label class="btn btn-secondary active">
    <input type="checkbox" checked> Checked
  </label>
</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="checkbox" checked> Checked
  </label>
</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h1>Button tollbar</h1>
            <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">@</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>
</div>

<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon2">@</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div>
</div>
       
       <div class="btn-toolbar justify-content-around" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <button type="button" class="btn btn-secondary">1</button>
    <button type="button" class="btn btn-secondary">2</button>
    <button type="button" class="btn btn-secondary">3</button>
    <button type="button" class="btn btn-secondary">4</button>
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon2">@</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon2">
  </div>
</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mb-5">
        <div class="col">
           <h1>Nesting Button</h1>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary">1</button>
  <button type="button" class="btn btn-secondary">2</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>
</div>
        </div>
    </div>
</div>
<!--      button end here     -->
<!--card stat here-->

<div class="container">
    <div class="row mb-4">
        <div class="col">
 <div class="card" style="width:18rem;">
    <img src="../images/single.jpg" class="card-img-top" alt="minimo">
    <div class="card-body">
        <h5 class="card-title">Single Card</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius commodi dolores itaque, eum tenetur rem sit vel perspiciatis at! Totam.</p>
        <a href="" class="btn btn-primary btn-lg btn-block">Click Here</a>
    </div>
     
 </div>
        </div>
    </div>
</div>
<!--    card end here-->
<!--card link start here-->
    <div class="container ">
        <div class="row ">
            <div class="col ">
               <div class="card" style="width: 18rem;">
                   <img src="../images/single3.jpg" alt="minimo" class="card-img-top ">
                   <div class="card-body">
                       <h5 class="card-title">eikhane card-title use kora hoice </h5>
                       <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti optio, dolorem. Vitae cum perferendis totam.</p>
                       <a href="#" class="card-link"> first-link</a>
                       <a href="#" class="card-link"> another link</a>
                       <button type="button" class="btn btn-primary btn-lg btn-block"> click me</button>
                   </div>
               </div>
                
            </div>
        </div>
    </div>
<!--    card link end here-->
<!--card with kitchen sink start-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem">
                  
                   <h5 class="card-header text-center"> image bottom</h5>
                    <img src="../images/single3.jpg" alt="" class="card-img-bottom">
                    <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, voluptatibus quos quod quaerat, doloribus, itaque quis atque assumenda tenetur veniam animi necessitatibus.</p>
                    <ul class="list-group list-group-flush">
                          <li class="list-group-item">first-item</li>
                          <li class="list-group-item">secound item</li>
                         <li class="list-group-item">third item</li>
                    </ul>
                    <a href="#" class="card-link">first-link</a>
                        <a href="#" class="card-link">secound-link</a>
                </div></div>
            </div>
        </div>
    </div>
<!--    card with kithchen sink end-->
<!--card qoute start here-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">Poetry</div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                        <p>Failure is the best teacher for me</p>
                        <footer class="blockquote-footer"> Someone says that <cite class="source-title"></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    card quote end here-->
<!--card center start -->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-center">
                    <div class="card-header"> Card in Center</div>
                    <div class="card-body">
                        <h5 class="card-title">card centerlization </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit explicabo nisi saepe,</p>
                        <a href="#" class="btn btn-dark btn-lg"> Go your destination</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    card end here-->
<!--card grid system start here-->
    <div class="container">
        <div class="row">
            <div class="col-6">
              <div class="card">
               <div class="card-body">
                <div class="card-title">column size col-6</div>
                
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in quis, beatae? Velit, nesciunt, a.</p>
                    <a href="#" class="btn btn-info">button col-6</a>
                </div>
                </div>
                </div>
                <div class="col-6">
                <div class="card">
               <div class="card-body">
                <div class="card-title">column size col-6</div>
                
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia in quis, beatae? Velit, nesciunt, a.</p>
                    <a href="#" class="btn btn-info">button col-6</a>
                </div>
                </div>
                </div>
            
        </div>
    </div>
<!--    card grid system end here-->
<!-- customaization width card-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card w-75">
                <div class="card-body">
                    <h5 class="card-title">customization width</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, vero!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
              <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">customization width</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, vero!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
              <div class="card w-25 mb-3">
                <div class="card-body">
                    <h5 class="card-title">customization width</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, vero!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    customization width card end-->
<!--card text align start here-->
    <div class="container">
        <div class="row">
            <div class="col">
                    <div class="card" style="width: 18rem;">
                 <div class="card-body">
                    <h5 class="card-title">customization width</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, vero!</p>
                    <a href="#" class="btn btn-dark"> text align </a>
                </div>
                </div>
            </div>
            <div class="row">
                   <div class="col">
              <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">text align center</a>
  </div>
</div>
            </div>
                
            </div>
            <div class="row">
                <div class="col">
                    <div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">text align right</a>
  </div>
</div>
                </div>
            </div>
        </div>
    </div>
<!--    card text align end here-->
<!--card-img-overlay start here-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card text-white my-4 text-center">
                    <img src="../images/minimo.jpg" class="card-img" alt="minimo">
                    <div class="card-img-overlay">
                        <h5 class="card-title my-4" >img ovelay </h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit tempore iusto, harum maiores laudantium totam adipisci id nobis ipsam sequi beatae aspernatur labore fuga. Eum odit hic tempora sed vel velit, asperiores eius, vero atque a illum exercitationem esse. Dolore. </p>
                        <a href="#" class="btn btn-danger">Overlay button</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    card img overlay end here-->

<!--horizontaly card start here-->
<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../images/minimo.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
</div>
<!--    card horizontaly end here-->
<!-- card background start here-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card bg-dark text-white mb-4" style="width: 18rem;">
                   <div class="card-header">card header</div>
                    <div class="card-body mb-3">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit qui iste animi cum, deleniti, harum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    card background end here-->


<!--card border start here-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-header bg-dark text-white">Header</div>
  <div class="card-body text-black mb-3">
    <h5 class="card-title">border card</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card border-warning mb-3" style="max-width: 18rem;">
  <div class="card-header bg-transparent border-dark">Header</div>
  <div class="card-body text-black mb-3">
    <h5 class="card-title">border card</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
           <div class="card-footer bg-transparent border-info">footer border</div>
            </div>
        </div>
    </div>
<!--    card border end here-->



<!--card grouup start here -->
        <div class="container">
            <div class="row">
                <div class="col">
                <div class="card-group">
  <div class="card">
    <img src="../images/signle01.jpg" class="card-img-top" alt="...">
    <div class="card-body mb-4">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      
    </div>
    <footer class="card-footer">card footer</footer>
    
  </div>
                 <div class="card">
    <img src="../images/single.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
               <footer class="card-footer">card footer</footer>
                </div>
                  <div class="card">
    <img src="../images/single2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
          <footer class="card-footer">card footer</footer> 
            </div>
        </div>
<!--        card group end here-->
<!--card deck start here-->
      <div class="container">
          <div class="row">
              <div class="col">
                     <div class="card-deck my-4">
  <div class="card">
    <img src="../images/single3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>  
                       <footer class="card-footer">card footer</footer>
                      </div>
                       <div class="card">
    <img src="../images/single3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>  
                       <footer class="card-footer">card footer</footer>
                      </div>
                       <div class="card">
    <img src="../images/single3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>  
                       <footer class="card-footer">card footer</footer>
                      </div>
               
                  </div>
              </div>
          </div>
      </div>
<!-- card deck end here-->
<!--card in row cols start here-->

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="../images/blog2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">row cols in card </h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
        </div>
        <div class="col mb-4">
    <div class="card">
               <img src="../images/blog2.jpg" class="card-img-top" alt="">
           
           <div class="card-body">
               <h5 class="card-title">row cols card</h5>
               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo similique libero voluptas veritatis nam ad.</p>
           </div>
           </div>
           
            
        </div>
    </div>
</div>
    </div>

<!--card in row cols end here-->
<!--card column start here-->
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card-columns">
  <div class="card">
    <img src="../images/blog2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="../images/blog2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>

    </div>
  </div>
  <div class="card">
    <img src="../images/blog2.jpg" class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Someone famous in <cite title="Source Title"></cite>
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
    </div>
  </div>
</div>
        </div>
    </div>
</div>

<hr>
<!--card column end here -->
    
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="../js/bootstrap.min.js"></script>
   <script src="../css/bootstrap.css"></script>
      <script src="../js/script.js"></script>
  </body>
</html>